{%extends "layout.html"%}

{%block head%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="{{ url_for('static', filename= 'css/scroll.css')}}" rel="stylesheet">
{%endblock%}
{%block body%}

  {% for rut in rutinas%}
     {{rut}}
  {% endfor %}

  <div class="container">

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seleccione una rutina
        </button>
        <div class="dropdown-menu">
            {% for rut in rutinas%}
            <a class="dropdown-item" id="rutina{{rut.0}}" onclick="cargarRutina({{rut.0| tojson}});"> {{rut.1}} </a>
            {% endfor %}
        </div>
        <input id="nombre-rut" disabled placeholder="Seleccione una rutina">
      </div>


    <div class="container">

    </div>
    <div class="container row" style="margin-top: 20px;">
      <div class="col-md-4">
        <div id="list-example" class="list-group ">
          {% for ej in ejercicios%}
          <a id="id-ejer-scroll" class="list-group-item list-group-item-action" href="#{{ej.1}}" onclick="seleccionar({{ej.1}});">{{ej.1}}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8">
        <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy" style="height: 200px;overflow-y: scroll;">
          {%for ej in ejercicios%}
          <h4 id="{{ej.1}}">{{ej.1}}</h4>
          <p>{{ej.2}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="form-inline" style="margin-top: 20px;">
      <label class="form-label mb-2 mr-sm-2" id="id-ejer" aria-disabled="true"> Seleccione un ejercicio</label>
      <button type="button" class="btn btn-primary mb-2 mr-sm-2" onclick="agregarFila()" id="id-botonAdd" disabled> Agregar </button>
    </div>
    <form action="/home/administracion_rutinas/modify_rutina/add_modification" method="POST">
      <table class="table table-striped" id="id-tabla" name="tabla">
        <thead>
          <tr>
            <th scope="col">Orden</th>
            <th scope="col">Nombre</th>
            <th scope="col">Series</th>
            <th scope="col">Repeticiones</th>
            <th scope="col">Peso</th>
            <th scope="col">Descansos</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="id-body"></tbody>
      </table>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary" name="botonSubmit" id="id-botonSubmit" value="botonSubmit"> Guardar cambios </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCancel">
            Volver
          </button>
          <div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-labelledby="modalCancelLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalCancelLabel">Salir</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Esta seguro que desea salir?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary" name="botonCancel" id="id-botonCancel" value="botonCancel">Aceptar</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>

  <script>

    function seleccionar(elemento){
      document.getElementById("id-ejer").innerHTML = elemento.innerHTML;
      document.getElementById("id-botonAdd").disabled=false;
    }

    function validaNumericos(event){
      if(event.charCode >= 48 && event.charCode <= 57){
        return true;
      }
      return false;
    }

    var contador=0;
    function agregarFila(){

      var table = document.getElementById("id-tabla");
      var rowCount = table.rows.length;
      var ejercicioHTML=document.getElementById("id-ejer");
      var fila= '<td class="orden" ><input type="hidden" name="orden" value="'+ rowCount +'">'+ rowCount +'</td><td><input type="hidden" name="nombre-ejer" value="' + ejercicioHTML.innerHTML +'">'+ ejercicioHTML.innerHTML +'</td><td><input type="text" onkeypress="return validaNumericos(event)" required name="series"></td><td><input type="text" onkeypress="return validaNumericos(event)" required name="repeticiones"></td><td><input type="text" onkeypress="return validaNumericos(event)" required name="peso"></td><td><input type="text" onkeypress="return validaNumericos(event)" required name="descansos"></td><td><input class="btn btn-danger" type="button" onclick="eliminarFilaPrueba('+ (contador) +');" value="Eliminar" /></td>'
      
      var row= document.getElementById("id-body").insertRow(-1);
      row.id='fila' + contador;
      row.innerHTML= fila;
      contador= contador + 1;
    };

    function eliminarFilaPrueba(index){
      $("#fila" + index).remove();
      var body= document.getElementById("id-body");
      let rows = body.querySelectorAll('tr');
      var i= 0;
      rows.forEach(row => {
        i=i+1;
        var orden= row.getElementsByClassName("orden").item(0);
        orden.innerHTML= '<input type="hidden" name="orden" value="'+ i +'">'+ i +'</td>';
      });
    }

    function cargarRutina(rut){
      console.log(rut)
      var cuerpoTabla=document.getElementById("id-body");
      cuerpoTabla.innerHTML="";
      var j=0;
      var rutinasEjer= {{rutinaEjer|tojson}};
      var nombreRut= document.getElementById("nombre-rut")
      var rutinas = {{rutinas|tojson}}
      nombreRut.disabled = false;

      for (let i = 0; i < rutinas.length; i++) {
        if (rut = rutinas[i][0]){
          nombreRut.value= rutinas[i][1];
        }
      }
      console.log(rut)
      rutinasEjer.forEach(ej => {
        if (ej[0]==rut){
          console.log("ej[0] "+ ej[0] + "rut "+ rut)
          console.log("rutinaEjer seleccionada " + ej);
          var table = document.getElementById("id-tabla");
          var rowCount = table.rows.length;
          var row= document.getElementById("id-body").insertRow(-1);
          row.id='fila' + contador;
          var fila= '<td class="orden" ><input type="hidden" name="orden" value="'+ rowCount +'">'+ rowCount +'</td><td><input type="hidden" name="nombre-ejer" value="' +  ej[2] +'">'+ ej[2] +'</td><td><input value="'+ ej[3]+'" type="text" onkeypress="return validaNumericos(event)" required name="series"></td><td><input value="'+ ej[4]+'" type="text" onkeypress="return validaNumericos(event)" required name="repeticiones"></td><td><input value="'+ ej[5]+'" type="text" onkeypress="return validaNumericos(event)" required name="peso"></td><td><input value="'+ ej[6]+'" type="text" onkeypress="return validaNumericos(event)" required name="descansos"></td><td><input class="btn btn-danger" type="button" onclick="eliminarFilaPrueba('+ (contador) +');" value="Eliminar" /></td>'
          row.innerHTML= fila; 

          } 
      });

     contador= contador + 1;
    }

  </script>
  {%endblock%}
  